.btn {
  display: block;
  font-style: normal;
  font-size: 20px;
  background:  rgb(40, 67, 91);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 10px 10px;

    box-shadow: 0 5px 15px 0  rgb(40, 67, 91);
  transition: 0.5s;
  margin: 10px auto;
}

.btn:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0  rgb(40, 67, 91);
}